[Desktop Entry]
Type=Application
Name=Streamlink Twitch GUI
GenericName=Twitch.tv browser for streamlink
Comment=Browse Twitch.tv and watch streams in your videoplayer of choice
Keywords=streamlink;livestreamer;twitch;
Categories=AudioVideo;
Exec=/opt/streamlink-twitch-gui/start.sh
Icon=/opt/streamlink-twitch-gui/icons/icon-48.png
